@media only screen and (max-width: 500px){
    .registration-form-container{
        width: 100%;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}

@media only screen and (min-width: 500px) and (max-width:530px){
    .registration-form-container{
        width: 100%;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}


@media only screen and (max-width: 450px){
    .google-button, .facebook-button, .github-button{
        width: 100% !important;
    }
    
}

@media only screen and (max-width: 400px){
    /* .registration-form-parent-div{
        width: 490px !important;
        background-color: rgb(22, 106, 78) !important;
    } */
    /* .image-div img{
        width: 350px !important;
        background-color: aquamarine !;

    } */
}

